@model MVC4EF.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredKnowledge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredKnowledge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
